.container {
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.wrapper {
  background-color: black;
  padding: 32px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid grey;
  color: white;
  text-decoration: none;
  margin-top: 36px;
}
.item {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.title {
  font-size: 24px;
  margin-bottom: 24px;
}
.description {
  font-size: 18px;
  margin-bottom: 24px;
}
