.container {
  width: 100%;
  background-color: black;
  opacity: 0.8;
  padding: 32px;
}

.list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid grey;
  color: white;
  text-decoration: none;
}
.item {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
}
.title {
  font-size: 24px;
  margin-bottom: 12px;
}
.text {
  font-size: 18px;
}
