.container {
  width: 100%;
  background-color: black;
}
.wrapper {
  background-color: black;
  margin: 32px;
  overflow: visible;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid grey;
  color: white;
  text-decoration: none;
}
.item {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
}
.title {
  font-size: 24px;
}
.text {
  font-size: 18px;
}
