.container {
  padding: 32px;
  background-color: black;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}
.item {
  text-align: left;
  border-bottom: 1px solid grey;
}

.question_wrapper {
  display: flex;
  gap: 12px;
}
.question {
  color: white;
  font-size: 32px;
  font-weight: 300;
}
.toggle {
  background-color: black;
  fill: white;
  width: 32px;
  height: 32px;
}
.toggleUp {
}
.answer {
  color: white;
  font-size: 28px;
}
