.container {
  padding: 32px;
  background-color: black;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}
.item {
  text-align: left;
  border-bottom: 1px solid grey;
}

.question_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  fill: white;
}
.answer {
  color: white;
  font-size: 18px;
}
