.container {
  padding: 32px;
  background-color: gray;
}
.subtitle {
  padding-top: 32px;
  border-top: 1px solid white;
}
.text {
  padding-top: 32px;
  border-top: 1px solid white;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 40%;
  height: 400px;
  background-color: black;
  margin-top: 32px;
  object-fit: cover;
}
