.header {
  display: none;
}

.bottom {
  height: auto;
  padding: 32px;
}
.logo {
  font-size: 62px;
}
.nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}
